{{ define "inventory_user"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "header"}}
    </head>
    <body>
        <div class="wrapper">
            {{ template "sidebar" . }}
            <div class="main-panel">
                <nav class="navbar navbar-default navbar-fixed">
                    <div class="container-fluid">
                        {{template "headbar" .}}
                    </div>
                </nav>
                <div class="content">
                    {{ template "message" .}}
                    
                    <div class="container-fluid">
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">

                                        <h1 class="title">Inventario</h1>
                                    </div>
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>MARCA</th>
                                                    <th>C. FÁBRICA</th>
                                                    <th>TALLA</th>
                                                    <th>MODELO</th>
                                                    <th>UBICACIÓN</th>
                                                    <th>COMENTARIO <button id="search"></button></th>
                                                </tr>
                                                <tr id="filterRow">
                                                    <th><input id="brandQuery" class="filterInput" type="text"></th>
                                                    <th><input id="pfcQuery" class="filterInput" type="text"></th>
                                                    <th><input id="sizeQuery" class="filterInput" type="text"></th>
                                                    <th><input id="modelQuery" class="filterInput" type="text"></th>
                                                    <th><input id="locationQuery" class="filterInput" type="text"></th>
                                                    <th><input id="noteQuery" class="filterInput" type="text"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="table__content"></tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>
                                                        <input id="pageNum" type="text"> / 
                                                        <input id ="pageCount" type="text" disabled>
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <button id="prev"> < </button>
                                                        <button id="next"> > </button>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

    {{template "footer"}}
    <script type="text/javascript" src="../../assets/js/JsBarcode.all.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../../assets/js/pablo.min.js"></script>
    <script type="text/javascript" src="../../assets/js/pdfkit.js"></script>
    <script type="text/javascript" src="../../assets/js/myjs/inventory_user.js"></script>
</body>
</html>
{{ end }}
                                               