{{define "sales_table"}}
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h1 class="title h1"> {{ .Title }}</h1>
        </div>
        <div class="card-body">
            <table id="infotable" class="table">
                {{ $isIndex := .IsIndex }}
                {{if (eq .User.Role "usr")}}
                <thead>
                    <tr>
                        <th>Hora</th>
                        {{ if $isIndex }}
			<th>Código</th>
			{{ end }}
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Talla</th>
                        <th>Pertenece</th>
                        <th>Precio de Venta</th>
                        <th>Vendedor</th>
                        <th>Comentario</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Sales }}
                    <tr>
                        <td>{{ .GetTimestamp }}</td>
                        {{ if $isIndex }}
			<td> {{ .Code }}</td>
			{{ end }}
                        <td>{{ .Brand }}</td>
                        <td>{{ .Model }}</td>
                        <td>{{ .Size }}</td>
                        <td>{{ .Location }}</td>
                        <td>S/ {{ .Price }}</td>
                        <td>{{ .Seller }}</td>
                        <td>{{ .Comment }}</td>
                    </tr>
                    {{ end }}
                </tbody>
                {{ end }}
                
                {{if (eq .User.Role "admin")}}
                <thead>
                    <tr>
                        <th>Hora</th>
                        <th>Código</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Talla</th>
                        <th>Pertenece</th>
                        <th>P. Venta</th>
                        <th>P. Costo</th>
                        <th>Ganancia</th>
                        <th>Vendedor</th>
                        <th>Lugar de Venta</th>
                        <th>Comentario</th>
                        {{ if $isIndex }}
                        <th>Otros</th>
                        {{ end}}
                    </tr>
                </thead>
                <tbody>
                    {{ range .Sales }}
                    
                    <tr>
                        <td>{{ .GetTimestamp }} </td>
                        <th>{{ .Code }}</th>
                        <td>{{ .Brand }}</td>
                        <td>{{ .Model }}</td>
                        <td>{{ .Size }}</td>
                        <td>{{ .Location }}</td>
                        <td>S/ {{ .Price }}</td>
                        <td>S/ {{ .PriceBuy }}</td>
                        <td>S/ {{ .Earning }}</td>
                        <td>{{ .Seller }}</td>
                        <td>{{ .Place }}</td>
                        <td>{{ .Comment }}</td>
                        
                        {{ if $isIndex }}
                        <td>
                        <button id ="{{ .Id.Hex }}" data-toggle="tooltip" title="Eliminar" class="delete-button"><i class="delete-icon fas fa-minus-circle"></i></button>
                        <a data-toggle="tooltip" title="Editar" href="/venta/{{.Id.Hex}}"><i class="edit-icon fas fa-edit"></i></a>
                        </td>
                        {{end}}
                    </tr>
                    {{ end }}
                </tbody>
                {{ end }}
            </table>
        </div>
    </div>
    <div class="row">
        
    </div>
    {{if (eq .User.Role "admin")}}
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="card">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Total Vendido</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{.TotalSales}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{end}}
    <div class="card">
        <div class="header">
            <h1 class="title h2"> Cambios y Devoluciones</h1>
        </div>
        {{ $isIndex := .IsIndex }}

        <div class="card-body">
            <table id="infotable" class="table">
                <thead>
                    <tr>
                        <th>Hora</th>
			<th>Código</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Talla</th>
                        <th>Pertenece</th>
                        <th>Precio de Venta</th>
                        <th>Vendedor</th>
                        <th>Comentario</th>
                        {{ if $isIndex }}
                        <th>Otros</th>
                        {{ end}}
                    </tr>
                </thead>
                <tbody>
                    {{ range .Refunds }}
                    <tr>
                        <td>{{ .GetTimestamp }}</td>
			<td>{{ .Code }} </td>
                        <td>{{ .Brand }}</td>
                        <td>{{ .Model }}</td>
                        <td>{{ .Size }}</td>
                        <td>{{ .Location }}</td>
                        <td>S/ {{ .Price }}</td>
                        <td>{{ .Seller }}</td>
                        <td>{{ .Comment }}</td>
                        {{ if $isIndex }}
                        <td>
                        <button id ="{{ .Id.Hex }}" data-toggle="tooltip" title="Eliminar" class="delete-button"><i class="delete-icon fas fa-minus-circle"></i></button>
                        </td>
                        {{end}}
                        
                    </tr>
                    {{ end }}
                </tbody>
                
            </table>
        </div>
        
    </div>
    {{if (eq .User.Role "admin")}}
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="card">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Total Devoluciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{.TotalRefunds}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <table class="table">
                        <thead>
                            <th>Vendedor</th>
                            <th>Cantidad Vendida</th>
                        </thead>
                        <tbody>
                            {{range .Sellers}}
                            <tr>
                                <td>{{.Name}}</td>
                                <td>{{.Amount}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Total </th>
                                <th>Total Ganancia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{.TotalSalesAndRefunds}}</td>
                                <td>{{.TotalEarning}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    {{if (eq .User.Role "usr")}}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <table class="table">
                    <thead>
                        <th>Vendedor</th>
                        <th>Cantidad Vendida</th>
                    </thead>
                    <tbody>
                        {{range .Sellers}}
                        <tr>
                            <td>{{.Name}}</td>
                            <td>{{.Amount}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    {{end}}
{{end}}
